
body {
    background-image: url(./Images/dallEImage1.png);
    background-position-x: center;
    background-position-y: 780px;
    background-size: cover;
}
h1 {
    padding-top: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h3 {
    margin-left: 270px;
}

p {
    font-size: larger;
    text-align: center;
    position: relative;
}

input {
    text-align: center;
    margin: auto;
    display: block;
}

button {
    margin-top: 20px;
    margin-left: 700px;
    display: block;
    position: relative;
}

#top, #bottom, #left, #right {
background: #f5e3c3;
position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }